<header>
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">FAKE CSV</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      {% if request.user.is_authenticated %}
        <div class="navbar-nav">
          <a class="nav-link active" href="{% url 'generator:schema_list' %}">
            Schemas <span class="sr-only"></span>
          </a>
        </div>
      {% endif %}

    </div>
    {% if request.user.is_authenticated %}
      <span class="navbar-text mr-2">
        Hello, {{ request.user.username }}
    </span>
      <a class="btn btn-outline-secondary" href="{% url 'users:logout' %}">Logout</a>
    {% else %}
      <a class="btn btn-outline-primary" href="{% url 'users:logout' %}">Login</a>
    {% endif %}
  </nav>
</header>
